version: '3.8'
services:
  kestra:
    image: kestra/kestra:latest
    ports:
      - "8080:8080"
    volumes:
      - ./build/libs:/app/plugins
    command: server local
    environment:
      - KESTRA_PLUGINS_PATH=/app/plugins